.heart {
    position: relative;
    width: 30px;
    height: 21px;
    font-size: 21px;

    & i {
        position: absolute;
    }
}

.heart-active {
    opacity: 0;
    background: linear-gradient($colour-primary, $colour-secondary);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;

    &:hover {
        opacity: 1;
    }
}